:root {
  --primary-color: #F6F7F8;  /* g-gray */
  --secondary-color: #FFFFFF; /* pure-white */
  --accent-color: #C8CCD414;  /* dark */
  --background-color: #C8CCD41A;
  --text-color: #072635;
  --first-color: #E3E4E6;
  --second-color: #FFE6F1;
  --third-color: #E0F3FA;
  --fourth-color: #FFE6E9;
  --fifth-color: #000000;
  --sixth-color: #F4F0FE;
  --seventh-color: #CBC8D4;
  --eith-color: #7E6CAB;
  --ninth-color: #C26EB4;
  --tenth-color: #E66FD2;
  --eleventh-color: #01F0D0;
  --twefth-color: #D8FCF7;
  --thirteenth-color: #EDEDED;
  --fourteenth-color: #707070;
  --body-regular-14-font-family: "Manrope" ;
  --body-regular-14-font-family: "Manrope";
  --normal-font: 14px; 
  --extreme-normal-font: 19px;

}